{%extends 'main/main.html'%}
{%block content%}
    <h1>Speech Events</h1>
    <a href="{% url 'create_event' %}">Create Event</a>
    <ul>
        {% for event in events %}
            <p>
                {{ event.speech_title }} by {{event.speaker_name}} on {{ event.date }}<br>
                {{ event.description }} <br>
                Genre: {{event.Genre}}<br>
                <a href="{% url 'update_event' event.id %}">Edit</a>
                <a href="{% url 'delete_event' event.id %}">Delete</a>
            </p>
        {% endfor %}
    </ul>
{%endblock content%}

